# Hugo build output
/public/
/resources/_gen/
/resources/_gen/*

# Hugo cache (Hugo >= 0.75)
.hugo_build.lock
/.hugo_cache/
/hugo_cache/

# OS junk
.DS_Store
Thumbs.db

# Node modules (if the theme uses npm, sass, postcss, etc.)
node_modules/

# Optional: ignore npm/yarn logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*



# VS Code workspace junk
.vscode/

# JetBrains
.idea/

# Logs
*.log

# Backup files
*~
*.swp
*.swo
